@media screen and (max-width: 576px) {
  body {
    border: 5px solid red;
  }
  .home-text {
    height: 30px;
  }

  .text-main {
    font-size: 10pt;
  }

  .supplies,
  .events {
    height: 100vh;
    width: 100%;
  }
}
