/* Variables */
@import "rfs.scss";
@import "media-screen.scss";
@import "div-carousel.scss";

.title {
}

$detailColor: #ffcd03;
$backgroundColor: #2c3e50;
$sectionColor: #f2f1ee;
$sectionHeight: 850px;
$footerColor: #474645;
$footerSize: 400px;

.navbar-nav {
  height: auto !important;
  margin-left: 5%;
  width: 50%;
  margin-bottom: 0;
  transition: 500ms ease;
}
nav {
  transition: 500ms ease;
}

.fiskamer-logo {
  height: 40px;
}

li {
  a {
    color: whitesmoke;
    text-transform: uppercase;
    margin-right: 5%;
    font-weight: bold;
    &:hover {
      color: $detailColor;
      text-decoration: none;
    }
  }
}

.signUp_button {
  border-radius: 20px;
  color: whitesmoke;
  border: 1px solid #ffcd03;
  font-weight: bold;
  &:hover {
    background-color: white;
    color: $backgroundColor;
  }
}

.signIn_button {
  border-radius: 20px;
  color: whitesmoke;
  font-weight: bold;
  text-shadow: 0.5px 0.5px $backgroundColor;
  &:hover {
    color: $backgroundColor;
    font-weight: bold;
    text-shadow: 0.5px 0.5px #fff;
    background-color: #fff;
  }
}

.background-fisk {
  height: 100vh;
  margin: 0;
  padding: 0;
  position: absolute;
  opacity: 0.1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
}

.carousel,
.carousel-inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;

  height: 100vh;
  padding: 0;
}

.carousel-item .active {
  margin: 0;
}

.carousel-control-next {
  font-size: 24pt;
}

.land-background {
  /*background-image: url(""../src/img/woman-4081760_1920.jpg);*/
  opacity: 1;
}

.home-background {
  padding-left: 0px;
  padding-right: 0px;
}
.home-film {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  padding-top: 5%;
  padding-left: 0;
}

.home-text {
  width: 50%;
  margin-left: 7%;
  margin-top: 5%;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.text-main {
  width: 70%;
  text-align: justify;
}
.text-main h1 {
  color: white;
  text-shadow: 2px 0px $backgroundColor;
  font-weight: bold;
  font-size: 4vw;
}

.text-secondary {
  margin-top: 5%;
  width: 110%;
  text-align: justify;
}

.text-secondary h3 {
  text-shadow: 1px 0px $backgroundColor;
  color: white;
  font-size: 1.9vw;
}

.search-bar-container {
  margin: auto;
  padding: 5%;
}

.search-bar {
  border-radius: 20px;
  margin-top: 9%;
  background-color: #ffcd03bd;
  box-shadow: 2px 2px 2px #00000040;
}

.search-bar form {
  padding: 4%;
  margin-left: 8%;
}

.search-bar form input {
  margin-right: 4%;
  border: 1px solid #2c3e5050;
}

/*.carousel-item {
  height: 777px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -50px;
}*/

.services {
  height: 100vh;
  background-color: #f2f1eeab;
  overflow-inline: scroll;

  .services-background {
    background-image: url("./../assets/imgs/services.jpg");
    width: 98%;
  }
  .container {
    height: 600px;
    margin-top: 2%;
    padding: 0 5% 0 5%;

    .col-sm-4 {
      padding: 0px;
    }

    .box {
      margin-top: 10%;
      box-shadow: 1px 2px 5px 0px gray;
      display: inline-block;
      margin-right: 2%;

      .image-container {
        height: 150px;
        position: relative;

        a {
          .image {
            height: inherit;
          }
        }

        img {
          height: -webkit-fill-available;
        }

        &:hover .overlay {
          opacity: 1;
        }
        .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 150px;
          width: 100%;
          opacity: 0;
          transition: 0.5s ease;
          background-color: transparent;

          .show-details {
            color: $detailColor;
            font-size: 60px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
          }
        }
      }
      .details-container {
        height: 150px;

        .name {
          color: $backgroundColor;
          font-weight: bold;
        }

        .name,
        .type,
        .location {
          margin-bottom: 0;
        }

        .type,
        .location {
          color: #dbc3c7;
        }

        .price {
          margin-top: 5%;
          color: $detailColor;
          font-weight: bold;
          font-size: 16pt;
          text-shadow: 1px 1px 1px #00000069;
        }
      }
      .description-container {
        padding: 11%;
        height: 150px;

        .text {
          font-size: 10.5pt;
          margin-bottom: 0;
        }
      }
      .button-container {
        height: 50px;
        padding: 0px;
        display: none;

        .button {
          &:hover {
            color: $detailColor;
          }
        }
      }

      .details-container,
      .button-container,
      .description-container {
        padding: 4%;
        background-color: white;
      }
    }
  }
}

.additional-info {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #f2f1ee;
  background-size: cover;
  opacity: 1;

  .info-background {
    background-image: url("./../assets/imgs/supplies.jpg");
  }

  .jumbotron {
    display: inline-grid;
    background-color: #fff;
    height: 400px;

    &:nth-child(1) {
      margin-left: 12%;
    }

    .btn {
      margin-left: 30%;
      margin-top: 3%;
    }
  }

  .supplies {
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 3%;
  }
}

footer {
  background-color: $footerColor;
  position: static;
  padding-top: 3%;
  padding-left: 10%;
  padding-right: 10%;

  .menu {
    display: inline-block;

    ul {
      list-style-type: none;
    }

    li a {
      text-transform: none;
      text-decoration: none;
      font-weight: normal;
    }

    hr {
      background-color: white;
      border-width: 1px;
      width: 30%;
      margin-left: 0px;
    }

    .title {
      font-weight: bold;
      color: white;
      margin-bottom: 9%;
    }

    .options {
      text-transform: none;
    }

    .options-inline {
      padding: 0;
    }
  }

  .copyrights {
    color: white;
    margin-top: 2%;
  }
}

ul ul li {
  display: inline;
  font-size: 30pt;
}

#carouselExampleIndicators {
  padding-left: 0;
  padding-right: 0;
}

.service-arrow {
  font-size: 10vw;
}
